figure{
    margin: 0;
}
#footer {
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

.bd-indigo-200{
    background-color:#6ea8fe;
}

header ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    height: 100%;
    align-items: flex-end;
}
.background-custom{
    background-color: rgb(3,143, 244)
}

body{
    height: 100vh !important;
}
.main_buttons{
    background-color: rgb(247, 247, 247);  
    width: 190px;  
    border-radius: 10px;
    height: 100%;
    border: 2px solid transparent;
}

.main_buttons:hover{
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.active_menu{
    box-shadow: 0px 0px 6px rgb(41, 121, 196);  
    background-color: rgb(13,110, 253);
    border: 1px solid rgb(13, 98, 224);
    /*border: 2px solid rgb(247, 247, 247);  opcional*/
    color: white;
}
.active_menu:hover{
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

header{
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 3;
}

/****************  Contenido Principal  ****************/


/* Panel lateral Izquierdo */
.fila_lateral{
    border-bottom: 1px solid rgb(207, 207, 207);
    cursor: pointer; 
    transition: .3s; 
    transition-timing-function: linear;  
}
.fila_lateral:hover{
    background-color:  #e8eaed; 
    transition: 0.2s;
}
.lateral_panel-icon{
    height: 40px;
    margin: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.left_panel-container{
    background-color: #f5f5f5;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 4px rgb(196, 196, 196);
}
.lateral_panel-icon img{
    height: 100%;
}




/* Estilos del menú Principal. */
.main_menu-container{
    margin: 5% 15% 5% 6%;
}

.menu_button{
    height: 120px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu_button img{
    height: 100%;
}

.main_buttons-title{
    text-decoration: none;
    cursor: pointer;
    color: rgb(12, 12, 12);
}


.main_logo{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 8%;
    margin-right: 8%;
}


/* ESTILOS DE LA PLANTILLA DE VENTAS */

